@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Orbitron", sans-serif;
  background-color: black;
  overflow: hidden;
}
.text_color {
  background-color: orange;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.time_wrapper {
  position: relative;
}
#time {
  text-shadow: 0 0 40px orange;
  font-size: 12rem;
}
#sec {
  position: absolute;
  bottom: 40px;
  font-size: 2rem;
}

#mid {

  position: absolute;
  top:40px;
  left:500px;
  font-size: 3rem;
  margin-left: 30px;
  margin-right: 30px;
}

.day_wrapper {
  display: flex;
  position: relative;
  left: 20px;
  justify-content: space-between;
}
.day_wrapper span {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.3;
  padding-right: 10px;
}
#showDate {
  position: relative;
  left: 20px;
  font-size: 2rem;
}